dom-module#docplater-document-parameters-panel
	link(rel="import" href="style.css" type="css")
	template
		h2 Parameters
		template(is="dom-repeat" items="[[parameters_map]]" as="map")
			.map
				h3 [[map.for]]:
				template(is="dom-repeat" items="[[map.parameters]]" as="parameter")
					label
						| @[[parameter.name]]:
						.line
							input(
								is="cs-input-text"
								type="text"
								value="[[parameter.value]]"
								placeholder="[[parameter.default_value]]"
								on-focus="_parameter_highlight"
								on-value-changed="_parameter_changed"
								on-blur="_parameter_unhighlight"
							)
							button(is="cs-button" type="button" icon="pencil" on-tap="_edit_parameter" tooltip="Edit default value")
							button(is="cs-button" type="button" icon="minus" hidden="[[and(parameter.clause_hash)]]" on-tap="_delete_parameter" tooltip="Delete parameter")
				.line
					button(is="cs-button" type="button" icon="plus" hidden="[[and(map.parameters.0.clause_hash)]]" on-tap="_add_parameter") Add parameter
	script(src="script.js")
